/* font face = anexa uma fonte ao projeto */
@font-face {
    /* font-family = define o nome da fonte instalada */
    font-family: Roboto;
    /* src = onde essa fonte está localizada */
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
    src: url(../fonts/Roboto/abandoned/Abandoned-UltraItalic.ttf);
}

*{
   margin: 0%;
   padding: 0%;
   font-family: Roboto, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1,h2,h3,h4,h5,h6{
    font-family: abandoned;
}

section{
    width: 100%;
    padding: 10px 0%;
    display: flex;
}

.tituloSection{

    text-align: center;
    font-weight: bold;

}

.subtituloSection{
    text-align: center;
    font-size: 10pt;
    color: gray;

}

/* header */

header{
     width: 100%;
}

#banner{
    height: 400px;
    justify-content: center;
    background-image: url(../img/Imagens/ImagensGeral/cabe.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#logo{
    width: 100px;
    height: 100px;
    background-image: url(../img/Imagens/logo/logo_vou_de_bike.png);
    background-size: cover;
    background-repeat: no-repeat;
}
nav{
    width: 100%;
    padding: 10px 0px;
    background-color: black;
    display: flex;
    justify-content: center;
}

ul{
    display: flex;
    gap: 100px;
    list-style: none;
    font-weight: bold;
    
    
}

nav a{
    text-decoration: none;
    color: white;
}

/* TOPICOS */

#topicos{
    gap: 20px;
    justify-content: center;
}
.topicoGrupo{
    width: 30%;
    background-color: beige;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding: 10px 0px;
  
}

.topicoImagem{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-size: cover;
    margin-top: 20px;
}

.topicoGrupo button{
    border: none;
    border:  1px solid black;
    border-radius: 5px;
    background-color: transparent;
    padding: 6px;
    cursor: pointer;
}

#topicoDicas{
    background-image: url(../img/Imagens/ImagensGeral/dica.png);

}
#topicoNoticias{
    background-image: url(../img/Imagens/ImagensGeral/noticias.png);
}

#topicoEquipamentos{
    background-image: url(../img/Imagens/ImagensGeral/equipamentos.png);
}
#agenda{
    flex-direction: column;
    background-color: grey;
    gap: 20px;
}

#seletores{
    display: flex;
    margin: 0 auto;
    gap: 20px ;
}

#seletores select{
    width: 300px;
    height: 30px;
}

#eventos{
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.evento{
    width: 200px;
    height: 150px;
    display: flex;
    font-size: 8pt;
}

.dataEvento{
    width: 80px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: black;
    color: white;
}

.evento{
    border: none;
    border: 1px;
    padding: 5px;
    background-color: transparent;
    border-radius: 5px;
}
.evento button{
    border: none;
    border: 1px solid black;
    padding: 5px;
    background-color: transparent;
    border-radius: 5px;
}

.descEvento{
     display: flex;
     flex-direction: column;
     gap: 8px;
     padding: 0px 8px;
     
}

#emailSecao{
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

#email{
    width: 80px;
    height: 30px;
}

#cadastrar{
    width: 200px;
    background-color: black;
    color: white;
}








footer{
    width: 100%;
    background-color: black;
    padding: 20px 0px;
    display: flex;
    justify-content: center;
    gap: 10px;
    color: white;
}

.redes{
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 8pt;
}

.redes img{
    width: 100%;
}